.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.6em 1.6em;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  margin: 1em 0;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 1em;
  

}

.book_details h2, .book_details p {
  font-family: var(--robotSlab);
}

.book_details p {
  font-size: 0.83em;
  font-weight: 400;
  color: var(--textColor);
}

.btn {
  appearance: none;
  border: none;
  background: none;
  color: var(--textColor);
}

.btn:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0 0.6em;
}

.btn_container {
  display: flex;
  gap: 1em;
}

.progress_update {
  appearance: none;
  padding: 0.5em;
  border: none;
  background-color: var(--textColor);
  color: white;
  border-radius: 3px;
  font-weight: 300;
  cursor: pointer;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chapter_heading {
  font-size: 1rem;
  color: #d3d3d3;
}